body{
    margin: 0px;
}

.head-space1{    
    background: transparent;
    width: 100%;
    height: 69px;
    position: absolute;
    margin-top: -501px;
}

.redtape-logo{
    background-color:transparent;
    margin-left: 204px;
    margin-top: 21px;
    display: inline-block;
    float: left;
}

.head-search{
    background-color: transparent;
    height: 60px;
    width: 33%;
    margin-left: 700px;
    display: flex;
}

#search{
    background-color: transparent;
    margin-right: 334px;
    height: 30px;
    padding: 0 5px;
    width: 250px;
    position: absolute;
    right: 0;
    border: none;
    margin-top: 15px;
    border-bottom: 1px solid #afafaf;
}

.search-btn{
    background: transparent url(https://redtape.com/catalog/view/theme/default/image/sprite.png) no-repeat scroll -528px -5px;
    border: medium none;
    padding: 18px;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 337px;
}



.head-space2{
    background-color:transparent;
    width: 100%;
    height: 79px;
    position: absolute;
}

.element-wrap{
    background-color: transparent;
    padding: 30px 0px;
    margin-top: -427px;
    margin-left: 204px;
    font-size: 18px;
    width: 40%;
}

.elements{
    color:white;
    float:left;
    margin-right: 27px;
    
}

.login-wrap{
    background-color: transparent;
    padding: 30px 0px;
    margin-left: 1041px;
    margin-top: -60px;    
    font-size: 18px;
    width: 38%;
}

.header-login{
    float:left;
    margin-right: 27px;
    color: #fff;
    font-size: 17px;
}

.video{    
    height: 500px;
     position: relative;
 }

 .best-sellers{
    margin-top: 500PX;
    margin-left: -150px;
}

.best-sellers h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 20px;
    background-color: #fff;
    margin-top: -27px;
    margin-left: 791px;
}

.best-img-container{
    margin-left: 364px;
    margin-bottom: 10px;
}

.best-img{
    float: left;
    margin-top: 10px;
    width: 26%;
    margin-left: 30px;
}

.best-img h4{
    font-size: 16px;
    margin-bottom: -17px;
    margin-left: 18px;
}

.best-img p{
    margin-top: -35px;
    margin-left: 104px;
    font-size: 13px;
    text-decoration: line-through;
}

.best-img h1{
    color: red;
    margin-top: -32px;
    margin-left: 158px;
    font-size: 18px;
}

.best-img h3{
    margin-left: 18px;
}

.trending{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 675px;
}

.trend-heading{
    font-size: 30px;
    margin-bottom: 66px;
    font-weight: 300;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 675px;
}

.trend-img{
    width: 500px;
    height: 418px; 
    margin-top: -593px;
    object-fit: contain;
}

.trend-container{
    display: flex;
}

.deals{
    margin-top: 77PX;
    margin-left: -150px;
}

.deals h2{
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 300;
    margin-top: 20px;
    background-color: #fff;
    margin-top: -83px;
    margin-left: 398px;
}

.superstars{
    width: 75%;
    height:500px;
    margin-top: 731px;
    margin-left: 200px;
    

}

.left-star{
    background-color:#f5f5f5;
    width: 40%;
    height: 650px;
    float: left;
    margin-top: 55px;
    margin-left: 119px;
}

.star-logo{
    margin-left: 156px;
    margin-top: 60px;
}
.star-insta{
    margin-left: 200px;
    margin-top: 12px;
}

.star-heading{
    font-style: normal;
    FONT-SIZE: 25PX;
    margin-left: 35px;
}

.star-para{
    font-size: 25px;
    color: #000;
    margin: 10px 0 25px;
    font-weight: 300;
    margin-left: 142px;
    width: fit-content;
}

.button-container{
    margin-top: 10px;
    margin-left: 116px;
}

.star-button{
    background: #E0E0E0;
    color: #363636;
    font-size: 15px;
    display: inline-block;
    min-width: 200px;
    height: 48px;
    border-radius: 11px;
    border: #E0E0E0;;
    text-align: center;
    margin-top: 10px;
}

.right-star{
    background-color: transparent;
    width: 50%;
    height: 650px;
    float: left;
    margin-top: 55px;
    
}

.img{
    float: left;
    margin-left: 28px;
    margin-top: 26px;
}

.policy{
    background-color: #363636;
    height: 200px;
    width: 100%;
    margin-top: -66px;
}

.just{
    background-color: #363636;
    height: 100px;
    width: 100%;
    margin-top: 329px;
}

.policy-head{
    color: #E0E0E0;
    height: 100px;
    width: 500px;
    align-self: center;
    margin-left: 650px;
}

.heading{
    align-content: center;
    margin-left: 168px;
    font-size: medium;
}

.shiping-mid{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 10px 0;
}

.shipping-inner{
    display: flex;
    align-items: center;
}

.spng-img{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #fff;
}

.shiping-txt {
    color: white;
    font-size: 22px;
}

.loc-heading h2{
    background-color:#a01115;
    height: 100px;
    width: 30%;
    margin-left: 634px;
    font-size: 28px;
    color: #fff;
}

.locate{
    background-color: #a01115;
    height: 200px;
    width: 100%;
    margin-top: -13px;
}

.just2{
    background-color: #a01115;
    height: 100px;
    width: 100%;
    margin-top: 0px;
}

.loc-heading{
    margin-top: -68px;
    margin-left: 58px;
    height: 0px;
}

.locate-mid{
    padding: 30px 0 20px;
}
.form img{
    margin-left: 396px;
    margin-top: 49px;

}

.list1{
    float:left;
    display: flex;
    margin-right: 100px;
    margin-left: 50px;
}

.visa{
    margin-left: 898px;
    margin-top: -117px;
}

.country-form{
    margin-left: 161px;
}